


<div class="  pb-4 " style="margin-top:200px;">
  <div class="container my-5 ">
      <div class="row">
          <div class="col-12 mx-auto p-0" >
              <div class="container-fluid my-4">
                  <div class="row">
                      <div class="col-6  px-0">

                          <div class="container-fluid h-100">
                              <div class="row h-100">
                                  <div class="col  d-flex flex-column px-0">

                                      <div class="d-flex my-auto h-100 fw-semibold justify-content-between align-items-center border-top " style="font-size: 20px;">

                                        How do I sign up for the project?<a href="#">                                        <span class="ms-auto"><img src="/assets/icons/plus.png" alt=""></span>
                                        </a>
                                        
                                          
                                      </div>
                                      <div class="d-flex my-auto  h-100 fw-semibold justify-content-between align-items-center border-top" style="font-size: 20px;">

                                        What should I prepare before starting?                      <a href="#"><span class="ms-auto"><img src="/assets/icons/plus.png" alt=""></span>
                                        </a>                  
                                          
                                      </div>
                                      <div class="d-flex my-auto h-100 fw-semibold justify-content-between align-items-center border-top border-bottom" style="font-size: 20px;">

                                        Does my company need help for marketing advice? <a href="#">                                        <span class="ms-auto"><img src="/assets/icons/plus.png" alt=""></span>
                                        </a>
                                        
                                          
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>



                          
                          
                      </div>
                      <div class="col-6 px-0 ">
                          <div class="container-fluid ">
                            <div class="row p-0">
                              <div class="w-auto ms-auto me-0">
                                <div class="fw-semibold" style="line-height:1.1; font-size: 40px;">
                                  How Can We Help You?                              </div>
                                <div class="my-4" style="font-size: 20px;">Follow our newsletter. We will regularly update <br> our latest projects and availability.</div>
                      
                                <div class="input-group mb-3" style="width: 498px; height:64px;">
                                  <input
                                    type="email"
                                    class="form-control me-3 bg-light ps-4"
                                    placeholder="Enter Your Email"
                                    aria-label="Recipient's username"
                                    aria-describedby="button-addon2"
                                    style=" border-radius: 30px;;"
                                  />
                                  
                                    <button class="btn btn-primary rounded-5 px-4 text-light" type="submit" style="font-size: 16px;" >
                                      Lets Talk
                                    </button>
                                  
                                </div>
                                <div class=" mt-5" style="font-size:18px;" >
                                  <a href="#" class="fw-bold" >
                                      More FAQ<span class="ms-2"><img src="/assets/icons/fleche.png" alt=""></span>
                                  </a>
                  
                  
                              </div>
                              </div>
                            </div>
                           
                          </div>
                          
                      </div>
                     
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
