<div class=" text-light py-1" style="background-color: black;" >
   
        
    
        <div class="container mt-5 mb-5">
            <div class="row d-flex justify-content-between" >
                <div class="col-4">
                    © 2022 Embrace, Inc. - All Rights Reserved
                </div>
                <div class="col-3 d-flex justify-content-between ">
                    <div>
                        Terms of use   
                    </div>
                    <div>
                        Privacy policy 
                    </div>
                </div>
            </div>
           
        </div>
    </div>