<div class="container py-5" style="background: white; margin-top: 100px;">
    <div class="row">

        <div class="col-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 my-3" *ngFor="let commitment of commitments; let i = index">
                        <div class="text-dark display-4 fw-bold text-capitalize">{{ commitment.title }}</div>
                        <div class="text-muted" style="font-size: 16px; font-family: 'General Sans Variable'; font-weight: 500; line-height: 24px;">{{ commitment.description }}</div>
                    </div>
                </div>
            </div>


            




            
        </div>
        <div class="col-6">
            <div class="" style="font-size: 64px;">
                Commitments
            </div>
            <div class=" my-3 " style="font-size: 18px;">
                We are committed to working with you collaboratively to understand your goals and create a strategy that will achieve them.
            </div>

            <div class=" mt-5" style="font-size:18px;" >
                <a href="#" class="fw-bold" style="text-decoration: none;">
                    Learn More <span><img src="/assets/icons/fleche.png" alt=""></span>
                </a>


            </div>

            

        </div>

        
    </div>
    
</div>