


<div class="bg-light  pb-4 " style="margin-top:100px;">
    <div class="container my-5 px-0 ">
        <div class="row">
            <div class="col-12 mx-auto px-0" >
                <div class="container-fluid my-4">
                    <div class="row">
                        <div class="col-6 px-0 ">

                            <div class="container-fluid h-100">
                                <div class="row h-100">
                                    <div class="col  d-flex flex-column">
                                        <div class="d-flex mb-auto">
                                            <span class="">
                                                <img class=" align-middle mt-3" src="assets/icons/circleArr.png" alt="">
                                            </span>
                                            <span class="fw-bold" style="font-size: 37px ;">
                                                Embrace
            
                                            </span>
                                            
                                        </div>
                                        <div class="w-full d-flex justify-content-between  my-auto " style="width: 195px;">
                                            <span class="">
                                                <img class=" align-middle ms-3 " src="assets/icons/insta.png" alt="">
                                            </span>
                                            <span class="">
                                                <img class=" align-middle " src="assets/icons/twitter.png" alt="">
                                            </span>
                                            <span class="">
                                                <img class=" align-middle me-3" src="assets/icons/facebook.png" alt="">
                                            </span>
                                            
                                        </div>
                                        <div class="mt-auto">
                                            <button class="btn btn-primary  py-2 rounded-5" style="width: 195px; font-size: 24px;">
                                                Contact Us
                    
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            
                            
                        </div>
                        <div class="col-6  ">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-4 fw-medium my-4 " *ngFor="let detail of details ">
                                       {{detail.option}}
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
