<div class=" " style="margin-top:80px;">
    <div class="container ">
      <div class="row">
        <div class="col-6">
          <div class="pe-5">
            <div class="fw-semibold" style="line-height:1.1; font-size: 96px;">
              <br>We Take <br>Care Of <br>Your Brand
            </div>
            <div class="my-4" style="font-size: 20px;">We care about our work and we care about our clients.</div>
  
            <div class="input-group mb-3" style="width: 498px; height:64px;">
              <input
                type="email"
                class="form-control me-3"
                placeholder="Enter Your Email"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                style=" border-radius: 30px;;"
              />
              
                <button class="btn btn-primary rounded-5 px-4" type="submit" style="font-size: 20px;" >
                  Lets Talk
                </button>
              
            </div>
          </div>
          
        </div>

        <div class="col-6 ">
          <img class="" style="width: 608px;" src="assets/images/people.png" alt="">
        </div>
      </div>

      
      
    </div>

    
  </div>
