<div class="" style="margin-top: 250px;">
    <div class="container " style="background-color: #232038; border-radius: 56px;">
        <div class="row"  style="background-image: url('assets/images/squarebg.png'); background-size:100% 100%; ">
            <div class="col-11 mx-auto">
                <div class="container-fluid my-4 py-5">
                    <div class="row">

                        <div class="col-7">
                            <div class="text-light" style="font-size:56px;">
                                Start Your Journey <br> With Us Now
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-primary fw-medium mt-4 px-5 py-2 rounded-pill" style="font-size: 22px;">Start Now</button>

                            </div>
                        </div>
                        <div class="col-5 ms-auto me-5 rounded-circle d-flex justify-content-center align-item-center" style="background-color: #E0FF22; width:320px; height:320px;">
                            <span class="d-flex align-items-center"><img src="assets/icons/thunder.png "  alt=""></span><span class="d-flex align-items-center"><img src="assets/icons/bolt.png" alt=""></span>


                        </div>

                       
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>



    
