

<div class="  pb-4 " style="margin-top:200px;">
    <div class="container my-5 ">
        <div class="row">
            <div class="col-12 mx-auto p-0" >
                <div class="container-fluid my-4">
                    <div class="row">
                        
                        <div class="col-5 px-0 ">
                            <div class="container-fluid ">
                              <div class="row p-0 ">
                               
                                    <div class="fw-semibold px-0" style="line-height:1.1; font-size: 64px;">
                                        How It Works
                                    </div>
                                    <div class="my-4 px-0" style="font-size: 20px;">
                                    We believe that the best way to create successful marketing campaigns is to work closely with our clients to understand their goals and challenges.
                                    </div>
                        
                                    <div class="mt-5 px-0 pt-5" >
                                        <img src="assets/images/desk.png" alt="">
                                    
                                    
                                    </div>
                                  
                                
                              </div>
                             
                            </div>
                            
                        </div>
                        <div class="col-5 ms-auto me-3 mb-4  px-0">
  
                            <div class="container-fluid h-100">
                                <div class="row h-100">
                                    <div class="col  d-flex flex-column px-0">
  
                                        <div class="d-flex my-4 h-100  justify-content-between align-items-center  " style="font-size: 20px;"  *ngFor="let process of processus; let i = index">
  
                                          <div class=" me-4"><img src="{{ process.icon }}"  style="width: 106px; height:106px;"></div>
                                          <div>
                                            <div class="fw-semibold pb-2" style="font-size: 32px; " > {{ process.title }}</div>
                                            <div class="mt-2" style="font-size: 16px;">
                                                {{ process.description }}
                                            </div>
                                          </div>
                                          
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
  
  
  
                            
                            
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  